openapi: 3.0.1
info:
  title: UKHO.ADDS.EFS.Orchestrator | v1
  version: 1.0.0
servers:
  - url: https://efs-orchestrator.mangomeadow-42e84c72.uksouth.azurecontainerapps.io/
paths:
  /client_credentials:
    post:
      summary: Get token from AAD.
      operationId: getESSTokenUsingClientCredentials
      tags:
         - auth
      description: |
        Returns a token direct from AAD using Client Credentials
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: The application ID that's assigned to the distributor's app. This will be provided to the distributor when they register their application.
                client_secret:
                  type: string
                  description: The client secret that has been generated for the distributor's app when the app was registered. The client secret must be URL-encoded before being sent.
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                  expires_in:
                    type: string
                  ext_expires_in:
                    type: string
                  access_token:
                    type: string
              example: |
                {
                  "token_type": "Bearer",
                  "expires_in": 3599,
                  "ext_expires_in": 3599,
                  "access_token": ""
                }
        400:
          description: Bad request - Request missing client_id and/or client_secret.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorDescription"
              example:
                {
                  "correlationId": "184ef711-b039-4c24-b81a-89081d8f324c",
                  "errors": [
                      {
                        "source": "request",
                        "description": "request missing client_id and/or client_secret"
                      }
                    ]
                }
        401:
          $ref: "#/components/responses/unauthorised"
        403:
          $ref: "#/components/responses/forbidden"
        429:
          $ref: "#/components/responses/tooManyRequests"
  /v2/exchangeSet/s100/productNames:
    post:
      tags:
        - UKHO.ADDS.EFS.Orchestrator
      description: Provide all the latest releasable baseline data for a specified set
        of S100 Products.
      parameters:
        - name: callbackUri
          in: query
          schema:
            type: string
            default: null
        - name: x-correlation-id
          in: header
          description: Correlation ID
          required: true
          schema:
            type: string
            default: 1dee7c991e3e49358619d6538b56b998
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomExchangeSetResponse"
  /v2/exchangeSet/s100/productVersions:
    post:
      tags:
        - UKHO.ADDS.EFS.Orchestrator
      description: Given a set of S100 Product versions (e.g. Edition x Update y)
        provide any later releasable files.
      parameters:
        - name: callbackUri
          in: query
          schema:
            type: string
            default: null
        - name: x-correlation-id
          in: header
          description: Correlation ID
          required: true
          schema:
            type: string
            default: 4c546aeafda34e9fb851e939cf6d8323
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/S100ProductVersionsRequest"
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomExchangeSetResponse"
  /v2/exchangeSet/s100/updatesSince:
    post:
      tags:
        - UKHO.ADDS.EFS.Orchestrator
      description: Provide all the releasable S100 data after a datetime.
      parameters:
        - name: callbackUri
          in: query
          schema:
            type: string
            default: null
        - name: productIdentifier
          in: query
          schema:
            type: string
            default: null
        - name: x-correlation-id
          in: header
          description: Correlation ID
          required: true
          schema:
            type: string
            default: 96f71c03f61242e38a5a519246a514c3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/S100UpdatesSinceRequest"
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomExchangeSetResponse"
        "304":
          description: Not Modified
components:
  schemas:
    BatchId: {}     
    errorDescription:
      type: object
      properties:
        correlationId:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              description:
                type: string
    CustomExchangeSetResponse:
      required:
        - links
        - exchangeSetUrlExpiryDateTime
      type: object
      properties:
        links:
          $ref: "#/components/schemas/ExchangeSetLinks"
        exchangeSetUrlExpiryDateTime:
          type: string
          format: date-time
        requestedProductCount:
          type: integer
          format: int32
        exchangeSetProductCount:
          type: integer
          format: int32
        requestedProductsAlreadyUpToDateCount:
          type: integer
          format: int32
        requestedProductsNotInExchangeSet:
          type: array
          items:
            $ref: "#/components/schemas/ProductNotInExchangeSet"
        fssBatchId:
          $ref: "#/components/schemas/BatchId"    
    ExchangeSetLinks:
      required:
        - exchangeSetBatchStatusUri
        - exchangeSetBatchDetailsUri
      type: object
      properties:
        exchangeSetBatchStatusUri:
          $ref: "#/components/schemas/Link"
        exchangeSetBatchDetailsUri:
          $ref: "#/components/schemas/Link"
        exchangeSetFileUri:
          $ref: "#/components/schemas/Link2"    
    Link:
      required:
        - href
      type: object
      properties:
        href:
          type: string
    Link2:
      required:
        - href
      type: object
      properties:
        href:
          type: string
      nullable: true
    ProductNotIncludedReason:
      enum:
        - productWithdrawn
        - invalidProduct
        - noDataAvailableForCancelledProduct
    ProductNotInExchangeSet:
      required:
        - productName
        - reason
      type: object
      properties:
        productName:
          type: string
        reason:
          $ref: "#/components/schemas/ProductNotIncludedReason"
    S100ProductVersion:
      required:
        - productName
        - editionNumber
      type: object
      properties:
        productName:
          type: string
        editionNumber:
          type: integer
          format: int32
        updateNumber:
          type: integer
          format: int32
    S100ProductVersionsRequest:
      required:
        - productVersions
      type: object
      properties:
        productVersions:
          type: array
          items:
            $ref: "#/components/schemas/S100ProductVersion"
    S100UpdatesSinceRequest:
      required:
        - sinceDateTime
      type: object
      properties:
        sinceDateTime:
          type: string
          format: date-time
  responses:
    unauthorised:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDescription'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDescription'
    tooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDescription'
tags:
  - name: UKHO.ADDS.EFS.Orchestrator
  - name: auth
