parameters:
# The name of the environment to be used in Azure DevOps.
- name: AzureDevOpsEnvironment
  type: string
# Used to generate job names and, in lower case, to select the correct var/x-deploy.yml variable file.
- name: ShortName
  type: string
# If true, the deployment will continue even if resources are getting destroyed.
- name: ContinueEvenIfResourcesAreGettingDestroyed
  type: boolean
  default: false
# Used to deploy apim 
- name: DeployApim
  type: boolean
  default: false
# The container image to use for the deployment job.
- name: ContainerImage
  type: string

jobs:
- deployment: ${{ parameters.ShortName }}APIMDeploy
  displayName: "${{ upper(parameters.ShortName) }} - APIM deploy"
  condition: and(succeeded(), eq('${{ parameters.DeployApim }}', true))
  environment: ${{ parameters.AzureDevOpsEnvironment }}
  pool: $(LinuxPool)
  container:  ${{parameters.ContainerImage}}
  workspace:
    clean: all
  variables:
  - template: var/${{ lower(parameters.ShortName) }}-deploy.yml
  strategy:
    runOnce:
      deploy:
        steps:
        - checkout: self

        - task: Bash@3
          name: TransformSpec
          displayName: "Transforming and verifying OpenAPI spec"
          continueOnError: false
          inputs:
            targetType: 'inline'
            script: |
              set -e

              YQ_VERSION="v4.44.3"
              mkdir -p $HOME/bin
              curl -sSL "https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64" -o $HOME/bin/yq
              chmod +x $HOME/bin/yq
              export PATH="$HOME/bin:$PATH"
              yq --version

              echo "Running YQ transformation..."
              yq eval --from-file "$(Build.SourcesDirectory)/.azdo/pipelines/powershell/filter.yq" \
                "$(Build.SourcesDirectory)/exchangeSetFulfilmentService_OpenApi_definition.yaml" \
                > "$(Build.SourcesDirectory)/exchangeSetFulfilmentService_OpenApi_definition_filtered.yaml"

              echo "Verifying filtered file creation..."
              if [ ! -f "$(Build.SourcesDirectory)/exchangeSetFulfilmentService_OpenApi_definition_filtered.yaml" ]; then
                echo "Filtered file not created. Failing pipeline."
                exit 1
              else
                echo "Filtered file created successfully."
                ls -lh "$(Build.SourcesDirectory)/exchangeSetFulfilmentService_OpenApi_definition_filtered.yaml"
              fi

        - task: AzureKeyVault@2
          displayName: 'Read APIM terraform Variables'
          condition: succeeded()
          inputs:
            azureSubscription: ${{ variables.ApimAzureSubscription }}
            KeyVaultName: "$(APIM_TERRAFORM_KEYVAULT)"
            SecretsFilter: '*'
            RunAsPreJob: false

        - task: PowerShell@2
          name: APIMDeployment
          displayName: "terraform APIM deployment"
          condition: succeeded()
          inputs:
            targetType: filePath
            filePath: '$(Build.SourcesDirectory)/.azdo/pipelines/powershell/terraform_conditional_run_apim.ps1'
            arguments: '-deploymentResourceGroupName $(APIM_RESOURCE_GROUP_NAME) -deploymentStorageAccountName $(APIM_TFSTATE_STORAGE_ACCOUNT_NAME) -workSpace $(AZURE_ENV_NAME) -continueEvenIfResourcesAreGettingDestroyed $${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}'
          env:
            ARM_CLIENT_ID: $(TERRAFORM-CLIENT-ID)
            ARM_CLIENT_SECRET: $(TERRAFORM-CLIENT-SECRET)
            ARM_TENANT_ID: $(TERRAFORM-TENANT-ID)
            ARM_SUBSCRIPTION_ID: $(TERRAFORM-SUBSCRIPTION-ID)
            TF_VAR_apim_rg: $(APIM_RESOURCE_GROUP_NAME)
            TF_VAR_apim_name: $(APIM_SERVICE_NAME)
            TF_VAR_apim_api_backend_url: $(APIM_API_BACKEND_URL)
            TF_VAR_b2c_token_issuer: $(APIM_B2C_TOKEN_ISSUER)
            TF_VAR_b2c_client_id: $(AZURE_EFS_B2C_APP_CLIENTID)
            TF_VAR_client_credentials_tenant_id: $(AZURE_EFS_B2C_APP_TENANTID)
            TF_VAR_client_credentials_scope: "$(AZURE_EFS_B2C_APP_CLIENTID)/.default"
